* {
    margin: 0;
    color: #222;
    padding: 0;
}

html {
    border: 2rem solid rgb(208, 220, 219);
    background-color: #f3e9dd;
}

body {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.profile-info, .skills-info {
    display: grid;
    grid-template-columns: repeat(2 2fr);
    padding: 1rem;
    column-gap: 1rem;
    margin: 1rem;
    box-sizing: border-box;

}


.intro {
    margin: 2rem;
}

ul {
    list-style: none;
    text-align: left;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

.profile {
    text-align: center;
}

.profile p {
    color: #888;
}

img {
    border-radius: 20rem;
    width: 15rem;
    margin: 1rem;
    padding: 1rem;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #888;
    border-bottom: 1px solid #777;
    padding: 1rem;
    margin-bottom: 1.25rem;
}

h3 {
    text-align: left;
    color: rgb(150, 90, 90);
    margin-top: 1.5rem;
}

.contact li {
    border-bottom: 1px solid rgb(201, 196, 196);
    color: #888;
    text-align: center;
    padding: 0.25rem;
}

a {
    text-decoration: none;
    color: #888;
}

.skills li {
    padding: .5rem 0;
}

.personal-skills>ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    
}

.professional-skills li {
    padding: 0.5rem;
}

.container {
    width: 100%;
    /* Full width */
    background-color: #ddd;
    /* Grey background */
}

.professional-skills p {
    margin-top: 1rem;
}

.education, .experience {
    margin: 1rem 0;
}

.skills {
    text-align: center;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    color: rgb(219, 213, 213);
}

.html,
.css {
    width: 90%;
    background-color: #04aa6d;
}

.js,
.bootstrap {
    width: 80%;
    background-color: #2196f3;
}

.react,
.git {
    width: 65%;
    background-color: #f44336;
}

.location {
    font-style: italic;
    color: #777;
    padding-bottom: 0.5rem;
}

@media only screen and (max-width: 660px) {
    body {
        background-color: #f0dec8;
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
    }
    .personal-skills>ul {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        
    }


}
